body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #006400, #003366);
    color: #fff;
    padding: 30px;
}
.container {
    background-color: #f8f8f8;
    color: #000;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
h2 {
    text-align: center;
    color: #006400;
}
p.obrigatorio {
    color: red;
    text-align: center;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.foto-preview {
    text-align: center;
    margin: 15px 0;
}
.foto-preview img {
    width: 100px;
    border-radius: 50%;
}
.btn {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
}
.btn:hover {
    background-color: #004d00;
}
.icon-top {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.icon-top img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    box-shadow: 0 0 5px #000;
}